---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  labels:
    app: crawler
    component: mongodb
    mongodb: "true"
    release: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: crawler
      component: mongodb
      release: {{ .Release.Name }}
  template:
    metadata:
      name: mongodb
      labels:
        app: crawler
        component: mongodb
        mongodb: "true"
        release: {{ .Release.Name }}
    spec:
      containers:
      - image: "{{ .Values.image }}"
        name: mongodb
        volumeMounts:
        - name: data
          mountPath: /data/db
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName:  mongo-pvc
